.table {
	margin: 2rem auto;
	max-width: 960px;
    text-align: center;
    width: 92%;
}

.table thead th {
	text-align: center;
}

.table tbody td {
	text-align: left;
}

.table tbody td:last-child {
	text-align: center;
	width: 170px;
}

.button {
	font-size: 14px;
	margin: 0 3px;
	width: 60px;
}